.side
  .side_header
    .side_header__box
      %p.side_header__box__user-name 
        = current_user.name
      %ul.side_header__box__menu
        %li.side_header__box__menu__new-group
          = link_to "#" do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.side_header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  .side_groups
    .side_groups_group
      .side_groups_group__name
        グループ名
      .side_groups_group__message
        新着メッセージ
    .side_groups_group
      .side_groups_group__name
        グループ名
      .side_groups_group__message
        新着メッセージ
    .side_groups_group
      .side_groups_group__name
        グループ名
      .side_groups_group__message
        新着メッセージ